.env
.venv/
workspace/
__pycache__/
*.py[cod]
.pytest_cache/
.coverage
.build/
htmlcov/
dist/
build/
site-dist/
*.egg-info/
mac-app/runtime/safeclaw-bin

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
mac-app/node_modules/*
